
[submodule "backend"]
	path = backend
	url = https://github.com/VisualMusic-VSU/visualmusic-backend
[submodule "android"]
	path = android
	url = https://github.com/VisualMusic-VSU/visualmusic-android
